body {
    font-family: Arial, sans-serif;
    background-image: url('images/images.jpg'); /* Path to your background image */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    display: flex;
    justify-content: center; /* Center the login container horizontally */
    align-items: center; /* Center the login container vertically */
    margin: 0; /* Remove default margin */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increased width */
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size:
